

// primary colors
$primary-black: #2b2c2d;
$primary-white: #FFFFFF;
$primary-red: #A00E2E;
$primary-blue: #0D4292;
$primary-green: #27920d;
$primary-orange: #ff9417;
$primary-yellow: #ffee11;
$primary-pink: #f710a9;
$primary-purple: #6d08a4;

// secondary colors
$secondary-light-blue: #8ae1e7;
$secondary-dark-blue: #113675:
$secondary-light-green: #daffe2;
$secondary-dark-green: #185c1f;
$secondary-dark-red: #5e0606;
$secondary-light-red: #ffb2b2;
$secondary-light-yellow: #fffab8;
$secondary-white: #FAFAFA;

// error state in comments form
$error-red: #D22D2D;