// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

// TODO place into a separate component



// TODO place into a separate component
.hero {
  background-color: purple;
  height: 300px;



  &__text {
    background-color: red;
  }

  &__image {
    background-color: yellow;
    height: 50px;
  }


  &__text {}
}


.main {
  background-color: red;
  height: calc(100% - 60px - 300px - 60px);

  .section.cards {
    background-color: blue;
    height: 50px;

    .h2.cards__header {
      background-color: aquamarine;
      height: 20px;
    }

    .cards__row {
      background-color: yellowgreen;
      height: 30px;
    }
  }

}
