.tutors-page {

  .tutors {

    height: 100%;

    &__header-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__header {
      margin-left: 20px;
    }

    &__shop-btn {
      font-size: 16px;
      background-color: transparent;
      border: none;
      color: blueviolet;
    }

                                                                &__shop-btn:hover {
                                                                  color: #092ae6
                                                                }

    &__row {
      display: flex;
      justify-content: space-around;
      overflow-y: auto;
        width: 100%;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 20px;
        padding: 10px 0 10px 10px; // hover translate effect
    }

    &__card-hero {
      position: relative;
    }

    &__card-hero-price {
      display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        padding: 4px;
        position: absolute;
        right: 0;
        top: 20px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        background-color: $primary-yellow;
      
        span {
          color: $secondary-dark-blue;
        }
    }
&__card {
  flex: 1;
  max-width: 350px;
  height: 100%;
  border-radius: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


&__card-hero {
  position: relative;
  background: linear-gradient(to right, #092ae6, #e34c07);
  background-blend-mode: normal;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  width: 100%;
  height: 300px;
  padding: 24px;
}

&__card-hero-header {
  color: white;
}

&__card-hero-image {
  position: absolute;
  top: 10%;
  right: 10%;
  height: 80%;
}

&__card-body {
  background-color: whitesmoke;
  width: 100%;
  height: 180px;
  padding: 16px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

&__card &__card-paragraph {
  margin-top: 5px;
  color: rgba(0, 0, 0, 0.5); //hace que las letras se vean medio transparentes
}
  }


}